.App {
 display: flexbox;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.inputgroup {
  padding-bottom: 10px;
}

.div-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: flex-start;
  background-color: mediumaquamarine;
  flex-wrap: wrap;
  padding: 30px;
  height: 100%;
}

.div-card > div {
  display: flex;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 6vh;
}


  
